 body{
background-color: rgba(195, 16, 46, 0.429);
  display: flex;
justify-content: center;
align-items: center;
height: 100vh;

 }
 form{
background-color: rgba(120, 56, 67, 0.429);
padding:10px ;
width: 80%;
display: flex;
flex-wrap: wrap;
gap: 5px;
 }
 input{
  background-color: rgb(255, 192, 203);
color: black;
font-weight: bold;
border: none;
border-radius: 5px;
outline: none;
padding: 5px 10px;
width: 200px; height: 30px;
flex-grow: 1;
}
form button{
background-color: rgb(235, 124, 143);
border: none;
border-radius: 10px;
  width: 30px;
 font-weight: bold;
 cursor: pointer;
 flex-grow: 1;
 padding: 5px 10px;
 box-shadow: 4px 5px rgb(122, 80, 87);
transition: transform 0,3s ease-in;

}
button:hover {box-shadow: 0 0 0  rgb(112, 59, 68);
 transform: translateY(5px);
}